@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f3f4f6;
}

input[type="file"] {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #ddd;
  cursor: pointer;
} 
